Email Workflow (2).json
{
  "name": "Email Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        0
      ],
      "id": "23dff713-0ce9-4f8b-add9-7cc75cc10dcd",
      "name": "Webhook",
      "webhookId": "9086d775-bb53-4862-b7ca-7b966deeadcf"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "AxionDrive Analytics Report",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin:0;padding:0;background:#0a0a0f;font-family:'DM Sans',Arial,sans-serif;\">\n  <div style=\"max-width:600px;margin:0 auto;padding:32px 16px;\">\n    \n    <!-- Header -->\n    <div style=\"background:#12121a;border-radius:16px;padding:32px;margin-bottom:16px;border:1px solid rgba(255,255,255,0.06);\">\n      <div style=\"font-size:36px;font-weight:900;letter-spacing:2px;color:#e8ff47;\">\n        AXIONDRIVE\n      </div>\n      <div style=\"font-size:11px;color:#6b6b80;letter-spacing:3px;text-transform:uppercase;margin-top:4px;\">\n        Intelligence in Motion\n      </div>\n    </div>\n\n    <!-- Main Card -->\n    <div style=\"background:#12121a;border-radius:16px;padding:32px;margin-bottom:16px;border:1px solid rgba(255,255,255,0.06);\">\n      <div style=\"font-size:22px;font-weight:700;color:#f0f0f0;margin-bottom:8px;\">\n        Your Analytics Report is Ready 📊\n      </div>\n      <div style=\"font-size:14px;color:#6b6b80;margin-bottom:24px;line-height:1.6;\">\n        Your AxionDrive report has been generated and is attached to this email.\n      </div>\n      <!-- Divider -->\n      <div style=\"border-top:1px solid rgba(255,255,255,0.06);margin-bottom:24px;\"></div>\n      <!-- Attachments -->\n      <div style=\"font-size:11px;color:#6b6b80;letter-spacing:2px;text-transform:uppercase;margin-bottom:12px;\">\n        Attachments\n      </div>\n      <div style=\"background:#1a1a26;border-radius:10px;padding:14px 18px;margin-bottom:10px;display:flex;align-items:center;border:1px solid rgba(232,255,71,0.15);\">\n        <span style=\"font-size:20px;margin-right:12px;\">📄</span>\n        <div>\n          <div style=\"color:#e8ff47;font-size:13px;font-weight:600;\">Dashboard Report</div>\n          <div style=\"color:#6b6b80;font-size:11px;\">Open in browser to view interactive charts</div>\n        </div>\n      </div>\n      <div style=\"background:#1a1a26;border-radius:10px;padding:14px 18px;display:flex;align-items:center;border:1px solid rgba(71,200,255,0.15);\">\n        <span style=\"font-size:20px;margin-right:12px;\">📊</span>\n        <div>\n          <div style=\"color:#47c8ff;font-size:13px;font-weight:600;\">Cleaned CSV Data</div>\n          <div style=\"color:#6b6b80;font-size:11px;\">Open in Excel or Google Sheets</div>\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer -->\n    <div style=\"background:#12121a;border-radius:16px;padding:20px 32px;border:1px solid rgba(255,255,255,0.06);\">\n      <div style=\"font-size:11px;color:#6b6b80;margin-bottom:4px;\">\n        Generated on {{ new Date().toLocaleDateString('en-IN', {day:'2-digit',month:'short',year:'numeric',hour:'2-digit',minute:'2-digit'}) }}\n      </div>\n      <div style=\"font-size:11px;color:#6b6b80;\">\n        Sent automatically via <span style=\"color:#e8ff47;\">n8n</span>\n      </div>\n    </div>\n\n  </div>\n</body>\n</html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "htmlFile,csvFile"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "73af77c0-2096-4a18-96a6-bfc4a8c06d12",
      "name": "Send a message",
      "webhookId": "85adfdd8-b992-4f0b-ab5b-690cb634b0ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "YsWsjR1FLBxyhzOA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.body.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "09123301-8084-4f1d-8851-d8a605e002ad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body.html;\nconst csv = $json.body.csv || '';\nconst email = $json.body.email;\n\nconst htmlBinary = Buffer.from(html, 'utf8').toString('base64');\nconst htmlFilename = `axiondrive_dashboard_${Date.now()}.html`;\n\nconst result = {\n  json: { email, htmlFilename },\n  binary: {\n    htmlFile: {\n      data: htmlBinary,\n      mimeType: 'text/html',\n      fileName: htmlFilename\n    }\n  }\n};\n\nif (csv && csv.trim()) {\n  const csvBinary = Buffer.from(csv, 'utf8').toString('base64');\n  const csvFilename = `axiondrive_data_${Date.now()}.csv`;\n  result.json.csvFilename = csvFilename;\n  result.binary.csvFile = {\n    data: csvBinary,\n    mimeType: 'text/csv',\n    fileName: csvFilename\n  };\n}\n\nreturn [result];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d2d47dce-a583-4739-9d45-0dd19581f200",
      "name": "Prepare HTML Attachment"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare HTML Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HTML Attachment": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c4c8882f-2d79-4679-becd-6c0b3fd74ff8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c955f61554748200b158cdae99f3eb96c6e6d8bd04b877e73d0e7bd01395d76"
  },
  "id": "8rEppofB2Sbibgw0",
  "tags": []
}